<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fake News Detection</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/news.png') }}">


    <!-- External CSS -->
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style.css')}}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Political Fake News <br /><span>Detection System</span></h1>

      <!-- Input Section -->
      <div class="input-section">
        <textarea
          id="newsInput"
          placeholder="Enter news article...">
        </textarea>

        <button id="predictBtn">Predict</button>
      </div>
      <!-- Disclaimer -->
<div class="disclaimer-box">
  <h3>⚠ Disclaimer</h3>
  <p>
    This system predicts whether a political news article is likely to be
    <strong>Fake</strong> or <strong>Real</strong> using a machine learning
    model trained on historical data. Predictions are based on learned
    linguistic patterns and probabilities, <strong>not on factual verification</strong>.   
  </p>
</div><br>

      <!-- Result Section -->
      <div class="result-container" id="resultContainer">
        <!-- Loader -->
        <div id="loader" style="display: none">
          <p>Analyzing article...</p>
        </div>

        <!-- Error Box -->
        <div id="errorBox" style="display: none">
          <p id="errorText"></p>
        </div>
        <!-- Classification Result -->
        <div class="result-box" id="classificationBox">
          <h3>Classification Result</h3>
          <p id="classification">Waiting for prediction...</p>
        </div>

        <!-- Confidence Score -->
        <div class="result-box">
          <h3>Confidence Score</h3>
          <p id="confidence">--</p>
        </div>

        <!-- Reasoning -->
        <div class="result-box">
          <h3>Reasoning</h3>
          <ul id="reasoning"></ul>
        </div>
      </div>
    </div>

    <script src="{{url_for('static', filename='js/script.js')}}"></script>
  </body>
</html>
